[Desktop Entry]
Name=GrafX2
Comment=Deluxe Paint Clone
Exec=grafx2 %f
Terminal=false
Type=Application
Icon=grafx2
Categories=Application;Graphics;
MimeType=image/lbm;image/iff;image/pcx;image/tga;image/gif;image/bmp;image/x-icon;image/png;
