*.bak
.*.sw?

# /
/gfx2.ini
/gfx2.cfg
/message.txt
/stdout.txt
/stderr.txt
/bin/stdout.txt
/bin/stderr.txt
/obj
/bin/grafx2*
/bin/generatedoc*
/bin/*.dll

/src/version.c
/src/*.tgz
/src/Grafx2.app
/src/.*.cache

/doc/html
/doc/doxygen
/doc/README-*.txt

*.tgz
*.zip
/install/*.exe
/VERSION

/tools/8x8fonts/.fonts.generated
/share/grafx2/skins/unicode_0390-03C9.png
/share/grafx2/skins/unicode_3040-309F.png
