#ifdef _MSC_VER
#include <VerRsrc.h>
#else
#define VS_FF_DEBUG 0x00000001L
#endif

1 VERSIONINFO
FILEVERSION     2,8,0,2979
PRODUCTVERSION  2,8,0,2979
FILEFLAGSMASK   VS_FF_DEBUG
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "The GrafX2 Team"
      VALUE "FileDescription", "The ultimate 256-color painting programm"
      VALUE "FileVersion", "2.8wip2979"
      VALUE "InternalName", "grafx2"
      VALUE "LegalCopyright", "(c) 2007-2020 The GrafX2 Team, (c) 1996-2001 Sunset Design"
      VALUE "OriginalFilename", "grafx2.exe"
      VALUE "ProductName", "GrafX2"
      VALUE "ProductVersion", "2.8wip2979"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

100 ICON "gfx2.ico"
